.select2-selection__rendered {
    white-space: nowrap;
}

.schedule-row-filterable.hvr-border-fade {
    box-shadow: none;
}

.schedule-row-filterable.hvr-border-fade:hover {
    box-shadow: inset 0 0 0 4px #2098d1,0 0 1px rgba(0,0,0,0);
}

#schedule-error {
    color: red;
}

#schedule-message {
    color: #56A042;
}

.schedule-filter-cell:hover {
    cursor: pointer;
}

.center-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.schedule-filter-row {
    display: block;
    /*height: 25px;*/
    margin-bottom: 5px;
}

.schedule-filter-cell.border-rounded {
    border-radius: 6px;
    background-color: #CACACA;
}

.normal-input {
    margin-bottom: 0;
}

./* Container for schedule */
.schedule-box {
    width: 100%;
}

.schedule-box * {
    box-sizing: border-box;
}

/* Container for rows */
.schedule-row {
    width: 100%;
    height: 22px;
    padding: 0;
}

/* Section farthest left, used for labels */
.schedule-left-col {
    /*width: 19%;*/
    height: 20px;
    /*float: left;*/
}

.schedule-left-col * {
    float: left;
    text-align: right;
}

/* Used for row label, far left of label section */
.schedule-left-col .schedule-label {
    float: right;
}

/* Optional column to the right of .schedule-label, used for a number (probably hour count) */
.schedule-left-col .schedule-hours {
    float: right;
    font-weight: bold;
}

/* Section farthest right, used for hour cells */
.schedule-cell-row {
    /*width: 80%;*/
    padding: 0 1%;
    float: left;
}

/* Styling for the top row (hour labels) */
.schedule-header-row {
    padding: 0 3%;
}
.schedule-header-row .schedule-cell {
    margin: 1px .25%;
}

/* Styling for the "cells", each representing an hour */
.schedule-cell {
    width: 7%;
    float: left;
    text-align: center;
    background-color: #efefef;
    height: 20px;
    border-width: 1px;
    border-style: dashed;
    border-color: white;
    border-top: none;
    border-bottom: none;
    margin: 1px 0;
}

.schedule-cell:hover {
    cursor: pointer;
}

/* Round off the left of the first cell and right of the last cell in each row */
.schedule-cell:first-child {
    border-radius: 10px 0 0 10px;
    border-left: none
}
.schedule-cell:last-child {
    border-radius: 0 10px 10px 0;
    border-right: none;
}

.schedule-header-cell {
    font-weight: bold;
    background-color: inherit;
    border: none;
    border-radius: 0;
    /*width: 8%;*/
}

/* Quarters are 15-minute subsections of cells */
.schedule-cell-quarter {
    width: 24.5%;
    height: 20px;
    float: left;
    margin: 0 auto;
    z-index: 10;
}

.schedule-cell-quarter.inactive:hover {
    cursor: default;
}

/*Scheduled but not available*/
.schedule-cell-quarter:not(.AV):not(.UV):not(.CL):not(.inactive):not([data-available]):before {
    content: "x";
    display: block;
    width: 100%;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

/* Colors for different scheduling locations/states */
/* MAC Regular */
.schedule-cell-quarter.MA {
    background-color: #56A042;
}
/* MAC Online */
.schedule-cell-quarter.MO {
    background-color: #4B4084;
}
/* STAT Regular */
.schedule-cell-quarter.ST {
    background-color: #BEA84E;
}
/* STAT Online */
.schedule-cell-quarter.SO {
    background-color: #B74B58;
}
/* Available */
.schedule-cell-quarter.AV {
    /*background-color: #FFFFFF;*/
}
/* Unavailable */
.schedule-cell-quarter.UV {
    background-color: #AAAAAA;
}
/* Inactive */
.schedule-cell-quarter.inactive {
    background-color: #000000;
}

/* Rounded borders */
.schedule-cell-quarter.first {
    border-radius: 10px 0 0 10px;
}
.schedule-cell-quarter.last {
    border-radius: 0 10px 10px 0;
}
.schedule-cell-quarter.first.last {
    border-radius: 10px;
}
