extends ../include/layout.pug

block body
    -
        var legendData = [{
            "code": "MA",
            "name": "MAC"
        }, {
            "code": "ST",
            "name": "Stat"
        }, {
            "code": "MO",
            "name": "MAC Online"
        }, {
            "code": "SO",
            "name": "Stat Online"
        }, {
            "code": "AV",
            "name": "Available"
        }, {
            "code": "UV",
            "name": "Unavailable"
        }];
    block body
