extends ../include/layout.pug

block body
    table.table.table-striped.table-hover#table-log
        thead
            tr
                th Time
                th Source
                th Severity
                th Message
        tbody
            each log in logs
                tr
                    td.cell-time #{log.time}
                    td.cell-source #{log.source}
                    td.cell-severity #{log.severity}
                    td.cell-message #{log.message}
