extends ../../../../views/include/layout_university.pug

block header
    link(rel="icon", href=baseurl + "img/favicon.ico")

block navbar
    nav.navbar.navbar-default
        div.container-fluid
            div.navbar-collapse.collapse#navbar
                ul.nav.navbar-nav !{navbarHTML}

block body
    p Hello!
