extends ../../../../views/include/layout_university.pug

block navbar
    nav.navbar.navbar-default
        div.container-fluid
            div.navbar-collapse.collapse#navbar
                ul.nav.navbar-nav !{navbarHTML}

block body
    p Hello!
