mixin collapsible-parent(name)
    div.collapsible-parent
        div.collapsible-header
            span.glyphicon.glyphicon-plus.collapsible-rotate-plus
            span.collapsible-title #{name}
        div.collapsible-body.in.clearfix
            block
