.time {
    font-weight: 600;
    font-size: 5em;
}

.user-name {
    font-weight: 400;
    font-size: 2em;
}

.user-id {
    font-weight: 400;
    font-size: 1.5em;
}

.btn {
    border-radius: 10px;
}

#btn-clock {
    font-size: 2.75em;
}


#btn-note, #btn-timesheet {
    font-size: 2.25em;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 20px;
}

.status-message {
    font-size : 2.75em;
    font-weight : 500;

}

#container-note {
    margin-top: 20px;
}

#input-notes {
    margin-bottom: 20px;
}

#btn-submit {
    font-size: 1.75em;
}

#error {
    margin-top: 10px;
}
