.time {
    font-weight: 600;
    font-size: 5em;
}

.user-name {
    font-weight: 400;
    font-size: 2em;
}

.user-id {
    font-weight: 400;
    font-size: 1.5em;
}

.btn {
    border-radius: 10px;
}

#btn-clock {
    font-size : 2.75em;
    margin-bottom: 20px;
}

#btn-note {
    font-size: 2.25em;
}

.status-message {
    font-size : 2.75em;
    font-weight : 500;

}
