div#body, div#body *:not(.glyphicon) {
    font-family: 'Source Sans Pro', sans-serif;
    /*font-weight: 400;*/
}

@media (min-width: 992px) {
    .navbar {
        min-height: 0px;
        height: 40px;
    }

    .nav > li > a {
        font-size: 20px !important;
        padding: 10px 20px !important;
    }

    .dropdown-menu > li > a {
        font-size: 15px !important;
    }
}

.border-rounded {
    border-radius: 4px;
    border: 1px solid #AAAAAA;
    padding: 5px;
}

.border-rounded:not(.keep-caret) {
    -webkit-appearance: none;
    -moz-appearance: none;
}

button.border-rounded {
    background-color: white;
}

.form-label {
    font-weight: 600;
    font-size: 1.25em;
    margin-right: 5px;
}

td.form-label {
    margin-right: 0px;
}

.text-center th {
    text-align: center !important;
}

/*From http://stackoverflow.com/a/12540590*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
