div.header-bar {
    padding-top: 10px;
}

div.header-block div {
    margin-bottom: 10px;
}

table.table {
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    border-collapse: separate;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

select.border-rounded {
    cursor: pointer;
}

div.employee-block {
    margin-bottom: 15px;
    float: left;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

div.employee-header {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    float: left;
}

span.employee-name {
    font-weight: 600;
    font-size: 2.5em;
    margin-left: 10px;
    vertical-align: middle;
}

img.employee-photo {
    border-radius: 50%;
}

span.employee-name.modal-title {
    font-size: 3em;
}

.collapsible-header {
    font-size: 2em;
    cursor: pointer;
}

.collapsible-header * {
    vertical-align: middle;
    user-select: none;
}

.collapsible-title {
    margin-left: 1em;
}

.modal-allowance {
    cursor: pointer;
}

.modal-allowance + span {
    padding-left: 0.5em;
    font-weight: 600;
    font-size: 1.25em;
    cursor: pointer;
}
