#success,#error {
    font-size: 1.5em;
}

.dataTables_filter label {
    /*float: right;*/
    margin-right: 1em;
}

.dataTables_length label {
    float: right;
    margin-right: 1em;
}

.dt-buttons {
    float: right;
}

.section-input > .section-divider {
    margin-bottom: 0.5em;
}
